html(lang="es")
    head
        block headAdmin
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            link(rel="stylesheet" href="/css/style2.css")
            link(rel="shortcut icon", type="image/png" href="/img/favicon.png")
            title #{titulo} 
            link(rel="stylesheet",  href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
            link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css")
            script(src='https://js.stripe.com/v3/')
            script(src='/js/actualizarUsuarioAdmin')


    body
    

        header
          label(for="check")
            div( id='sidebar_btn')
          .left_area
            a(href="/" class='a-estilo') Eventos RD
          .right_area
            a.logout_btn(href="#") Salir
        
        
        .sidebar
          a(href="/admin" class='fas fa-user')  Usuarios
          a(href="/admin/editareventos" class='fas fa-umbrella-beach')  Eventos
          a(href="" class='fas fa-file-invoice-dollar')  Facturas
          a(href="#" class='fas fa-info-circle')  Informacion
          a(href="#" class='fas fa-chevron-circle-down')  Mas

  
        .contenido-usuarios
              div(class='usuarioHr fa fa-umbrella-beach')  Facturas Totales del Evento: #{facturasLenght}
              table.content-table

                if facturas.length === 0
                    h1.mensaje= mensaje
                else
                      thead
                        tr
                          th Nombre
                          th Precio del evento
                          th Creado el
                          th Opciones
                      tbody
                          each factura in facturas
                              tr
                                td=factura.usuario.nombre
                                td #{factura.precio} $RD
                                td=factura.creadoEn.toLocaleString('en-us')
                                td

                                  a(href=`/admin/enviarfacturas` class='btn btn-info' id='myBtn') Enviar Factura a usuario
                                  a(href=`/admin/eventosEliminar/` class='btn btn-danger') Eliminar
              
              

                
                      
        

    footer.footer
            .footer__logo
            ul.footer__nav
                li: a(href='') Contactanos
                li: a(href='#') Conviertete en un Guia
                li: a(href='#') Acerca de Nosotros
            p.footer__copyright &copy; by Enderson Gomez

            script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
            script(src='/js/login.js')
            script(src='/js/logout.js')
            script(src='/js/signup.js')
            script(src='/js/actualizarUsuario.js')
            script(src='/js/pagos.js')
            script(src='/js/crearEvento.js')
            script(src='/js/actualizarEventoEditar.js')
            script(src='/js/eliminarEvento.js')
            script(src='https://js.stripe.com/v3/')

